<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
         http://www.springframework.org/schema/security
         http://www.springframework.org/schema/security/spring-security-4.0.xsd">

  <http use-expressions="true" entry-point-ref="gaeEntryPoint" create-session="never">
    <intercept-url pattern="/_ah/login" access="permitAll" />
    <intercept-url pattern="/_ah/logout" access="permitAll" />
    <intercept-url pattern="/_ah/channel/**" access="permitAll" />
    <intercept-url pattern="/_ah/**" access="hasRole('ADMIN')" />
    <intercept-url pattern="/error/**" access="permitAll" />
    <intercept-url pattern="/**" access="hasRole('USER')" />
    <access-denied-handler error-page="/error/accessDenied" />
    <custom-filter position="PRE_AUTH_FILTER" ref="gaeFilter" />
    <headers disabled="true" />
    <csrf disabled="true" />
  </http>

  <authentication-manager alias="authenticationManager">
    <authentication-provider ref="gaeAuthenticationProvider"/>
  </authentication-manager>

  <b:bean id="wads" class="org.springframework.security.web.authentication.WebAuthenticationDetailsSource" />

  <b:bean id="gaeFilter"
          class="com.google.openbidder.ui.security.GoogleAccountAuthenticationFilter">
          <b:constructor-arg index="1" ref="wads" />
  </b:bean>

  <b:bean class="com.google.openbidder.ui.security.OpenBidderUserDetailsService" />

  <b:bean id="gaeEntryPoint"
          class="com.google.openbidder.ui.security.GoogleAccountsAuthenticationEntryPoint" />

  <b:bean id="gaeAuthenticationProvider"
          class="com.google.openbidder.ui.security.GoogleAccountsAuthenticationProvider" />

  <b:bean class="org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler">
    <b:property name="exceptionMappings">
      <b:map>
        <b:entry key="org.springframework.security.authentication.DisabledException" value="/error/disabled" />
      </b:map>
    </b:property>
  </b:bean>

</b:beans>
