<?xml version="1.0" encoding="UTF-8"?>
<!--
  CHANGE to your own preferred logging configurations.

  You are encouraged to keep the suggested structure, in particular the use of an async appender
  that's critical so logging operations won't impact request latency. If you have to change some
  loggers to a level higher than INFO, try doing this only for select loggers of the code you
  need to investigate, or from components from openbidder that emit specific information you need
  (e.g., request handlers will log requests and responses).
-->
<configuration scan="true" scanPeriod="10 seconds">

  <!-- The default configuration will consume logs via the Google Cloud Logging
       agent (google-fluentd), which listens to the syslog protocol at the default port.
       In non-GCE deployments, just configure syslog/rsyslog/fluentd appropriately.
  -->
  <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>localhost</syslogHost>
    <facility>LOCAL0</facility>
    <suffixPattern>%X{requestId}%logger{1} %msg</suffixPattern>
  </appender>

  <!-- To be used for testing purposes only. -->
  <!-- appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %X{requestId}[%thread] %-5level %logger{1} - %msg%n</pattern>
    </encoder>
  </appender>
  -->

  <!-- To be used for testing purposes only. Beware of using this appender with
       loggers set to DEBUG, disk space can be consumed real fast at high loads! -->
  <!-- appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/bidder.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/var/log/bidder_%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %X{requestId}[%thread] %-5level %logger{1} - %msg%n</pattern>
    </encoder>
  </appender>
  -->

  <root level="INFO">
    <appender-ref ref="SYSLOG"/>
    <!-- appender-ref ref="FILE"/-->
    <!-- appender-ref ref="STDOUT"/-->
  </root>

  <logger name="com.google.inject" level="WARN"/>
  <logger name="org.eclipse.jetty" level="INFO"/>
  <logger name="io.netty" level="INFO"/>
  <logger name="io.netty.channel.DefaultChannelPipeline" level="ERROR"/>
  <logger name="com.google.openbidder" level="INFO"/>
  <logger name="com.google.openrtb" level="INFO"/>
  <logger name="com.google.doubleclick" level="INFO"/>

</configuration>
