<div class="hero-unit">
  <h1>Open Bidder</h1>
  <p>Open Bidder is an open source real-time bidding (RTB) framework that enables developers to
    quickly build and deploy a robust real-time bidder.</p>
  <p>
    <a class="btn btn-primary btn-large" target="_blank"
       href="https://developers.google.com/ad-exchange/rtb/open-bidder/">Learn more</a>
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>1. Sign Up</h2>
    <p>Create a <a href="https://console.developers.google.com" target="_blank">Google API Project</a>
      with billing enabled and sign up for:</p>
    <ul>
      <li><a href="https://cloud.google.com/compute/" target="_blank">Google Compute Engine</a></li>
      <li><a href="https://cloud.google.com/storage/" target="_blank">Google Cloud Storage</a></li>
      <li><a href="https://developers.google.com/ad-exchange/buyer-rest/" target="_blank">Ad Exchange Buyer API</a></li>
      <li><a href="https://cloud.google.com/bigquery/" target="_blank">Google BigQuery</a></li>
    </ul>
    <p>Your DoubleClick Ad Exchange Account Manager can guide you through this process.</p>
  </div>

  <div class="span4">
    <h2>2. Create a Project</h2>
    <p><a ng-href="#/project">Create a new project</a>. You will need:</p>
    <ul>
      <li>Google API Project ID</li>
      <li>Google API Project Number</li>
      <li>OAuth 2.0 client secret and ID</li>
    </ul>
    <p>Additional configuration may be required for your own bidding interceptors and if
    you wish to receive impression and click callbacks.</p>
  </div>

  <div class="span4">
    <h2>3. Start Bidding</h2>
    <p>Open Bidder will start load balancers and bidders on behalf of you and your team.
      You can extend the bidder with your own custom bidding logic and also reuse bundled
      functionality. Once registered with the exchange your bidders will receive bid requests
      for your pre-targeted campaigns.</p>
  </div>
</div>
