<!DOCTYPE html>
<html>
<head>
  <title>Metrics</title>
</head>
<body>
<h1>Operational Menu</h1>
<ul>
  <li><a href="{{ metricsPath }}?pretty=true">Metrics</a></li>
  <li><a href="{{ pingPath }}">Ping</a></li>
  <li><a href="{{ threadsPath }}">Threads</a></li>
  <li><a href="{{ healthCheckPath }}">Health Check</a></li>
</ul>
</body>
</html>
